/*Get In Touch page styling*/
.get-in-touch {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #f7f3eb; /* Light cream background */
    height: 100%;
    flex-grow: 1;
}

.gallery1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 45%;
    width: 50%;
    column-gap: 1%;
    row-gap: 1%;
}

.gallery1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    row-gap: 1%;
}

.gallery2 img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.gallery2 .img2 {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.contact-info {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-left: 0%;
    padding: 0 2%;
}

.contact-info h2 {
    margin-top: 6%;
    font-size: 3.0rem;
}

.contact-info p {
    font-size: 1.0rem;
    margin: 0% 0;
}

.contact-details div {
    display: flex;
    align-items: center;
    gap: 1%;
    font-size: 1.0rem;
}

.location h3 {
    font-size: 1.5rem;
    margin-bottom: 1%;
}

.location p {
    font-size: 1.0rem;
}