.who-we-are {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 48% 50%;
    gap: 1%;
    background-color: #f5f2eb;
    height: 100%;
    overflow:visible;
}

.image1 {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 1% 40%;
}

.image2 {
    grid-row: 2;
    grid-column: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 1% 34%;
}

.text-container {
    grid-row: 1 / span 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container h1 {
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0%;
    margin-top: 0;
}

.text-container p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    width: 90%;
    margin-bottom: -1%;
}

.justification {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
    flex_grow: 1;
    overflow: scroll;
}

.justification h2 {
    margin-top: 0%;
}

.justification h3 {
    margin-top: 0%;
    margin-bottom: 0%;
}
.justification p {
    margin-bottom: 0%;
}

.justification ul {
    text-align: left;
}
